<%content_for :head do%>
	<%=stylesheet_link_tag "lista_hoteis"%>
<%end%>

<div id="Boxcenter">
	<%=render :file => "/layouts/_top.html.erb"%>
	<div id="Vazia"></div>
	<div id="Bottomboxc">
		<h1 class="Titlista">
		MINHAS COTAS 
		<%=link_to "+ adicionar novo", new_package_quote_path(@package)%></h1>

		<%= render :partial => 'form' %>
	</div>
</div>
