<%content_for :head do%>
<%= stylesheet_link_tag "recepcao"%>
<%end%>
<div id="Boxcenter">
    <%=render :file => "/layouts/_top.html.erb"%>
    <div id="Midboxfoto">
<%= image_tag("tit_recepcaointerna.png", :style =>"margin:0 0 10px 0;")%>
</div>
    <div id="Bottomboxmensagens">
    	<div id="Mapa_box">
        <div id="Mapa_texto"><p>Local: Espaço América  - Av. Atibaia, 470 - Jardim Atibaia<br /><a href="http://www.espacoamerica.com">www.espacoamerica.com.br</a><br /><b>Veja o local no Google Maps</b></p></div>
        <div id="Mapa_back">
        	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;q=Av.+Atibaia,+470+-+Vila+Tha%C3%ADs,+Atibaia+-+SP,+12942-770,+Brasil&amp;sll=37.0625,-95.677068&amp;sspn=67.042676,158.203125&amp;ie=UTF8&amp;geocode=FQ8mn_4dmJA5_Q&amp;split=0&amp;hq=&amp;hnear=Av.+Atibaia,+470+-+Vila+Tha%C3%ADs,+Atibaia+-+S%C3%A3o+Paulo,+12942-770,+Brasil&amp;ll=-23.114233,-46.554909&amp;spn=0.041523,0.077162&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;q=Av.+Atibaia,+470+-+Vila+Tha%C3%ADs,+Atibaia+-+SP,+12942-770,+Brasil&amp;sll=37.0625,-95.677068&amp;sspn=67.042676,158.203125&amp;ie=UTF8&amp;geocode=FQ8mn_4dmJA5_Q&amp;split=0&amp;hq=&amp;hnear=Av.+Atibaia,+470+-+Vila+Tha%C3%ADs,+Atibaia+-+S%C3%A3o+Paulo,+12942-770,+Brasil&amp;ll=-23.114233,-46.554909&amp;spn=0.041523,0.077162&amp;z=14&amp;iwloc=A" style="color:#0000;					text-align:left">Exibir mapa ampliado</a></small></div>
        </div>
    </div>
</div>