<%content_for :head do%>
	<%=stylesheet_link_tag "presenca"%>
<%end%>
		<div id="Boxcenter">
		            <%=render :file => "/layouts/_top.html.erb"%>    

					<div id="Midboxc">
						<!-- Imagem do Confirmar Presenças-->
					</div>
					<div id="BottomboxcPresenca">	
						<br /><br />
			
						<p style="text-align:center;">
							Legal! Sua presença foi confirmada, um e-mail está sendo enviado para os noivos!
						</p>
						<br /
						><br />
			        </div>
		  		<div id="Tabbottom">
		        	<a href="javascript:history.go(-1);"><img src="/images/btn_voltar.png" width="69" height="17"  style="margin:10px 21px 0 0;" /></a>
            	</div>
	    </div>