<%content_for :head do%>
	<%=stylesheet_link_tag "carrinho"%>
<%end%>
 <div id="Boxcenter">
		<%=render :file => "/layouts/_top.html.erb"%>
		<div id="Midboxfoto">
        	
       </div>    
      <img src="/images/tit_meucarrinho.png" width="541" height="43"/>   
		<div id="Bottomboxfotos">
			
			<p style="text-align:center;">
				Legal! Seu pedido está tudo certo, para nos dar este presentão, clique no botão abaixo!
			</p>
			<br /><br />
			<%= pagseguro_form @order, :submit => "Efetuar pagamento!" %>

       
         </div>
  		<div id="Tabbottom">
        	<a href="javascript:history.go(-1);"><img src="/images/btn_voltar.png" width="69" height="17"  style="margin:10px 21px 0 0;" /></a>
            </div>
        </div>

