*
{
	margin:0px;
	padding:0px;
}
a, p, td, input, textarea, span, div ,h1
{
	font:Verdana, Helvetica, sans-serif;
	color:#5c5c5c;
	font-style:normal;
	font-size:12px;
}
img
{
	border:none;	
}
li
{list-style:none;
}
p
{
	text-align:justify;
}

a
{
	text-decoration:none;	
}

a:hover
{
	text-decoration:underline;	
}
body
{
	background-image:url(../images/background.jpg);
	background-repeat:repeat-x;
	background-position:top center;
	background-color:#fffce7;
}
#General
{
	margin:auto;
	padding:0;
	width:960px;
	
}
#Header
{
	display:inline-block;
	padding:auto;
	width:960px;
	height:28px;
}
#Content
{
	text-align:center;
	width:auto;
	padding:o;
	margin:auto;
}
#Content .Titulo
{
	font:Verdana, Helvetica, sans-serif;
	color:#5c5c5c;
	font-size:15px; 
	font-weight:bold;
	color:#FFF !important;
}
#Content .Titulo2
{
	font-family:Verdana, Helvetica, sans-serif;
	font-size:14px;
	color:#960062;
}
.Titulo3
{
	text-align:center;
	vertical-align:middle;
	background-color:#fffce7;	
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	color:#F96;
}
.Titulo4
{
	display:inline-block;
	background-color:transparent;
	text-align:left;
	margin:0px 10px 0 -37px;	
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	
}
.Titulo5
{
	display:inline-block;
	background-color:transparent;
	text-align:none;
	margin:0px 0 0px 0px;	
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}
.Titulo6
{
	display:inline-block;
	background-color:transparent;
	text-align:left;
	margin:0px 10px 0 -37px;	
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#000;
	
}
.Tit_edit
{
	background-image:url(../images/tit_backvazio.png);
	background-repeat:no-repeat;
	width:542px;
	height:33px;
	margin:10px auto;
}
	.Tit_edit h1
	{
		font-family:Verdana, Helvetica, sans-serif;
		color:#FFF;
		padding:10px 0 0 10px ;
		font-size:15px;
		text-align:left;
	}
.Arialtxt
{
	font-family:Verdana, Helvetica, sans-serif;
	font-size:15px;
	text-align:center;	
}
.Tit_center
{
	display:inline-block;
	background-image:url(../images/img_back_titulo0.png)
	background-repeat:no-repeat;
	background-position:top center;
	text-align:left;
	margin:0px 10px 0 -0px;	
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#000;
	
}
.Box_laterais
{
	margin:15px auto;
	width:170px;
	height:auto;	
}
	.Box_laterais .Back_box
	{
		margin:2px 0 0 0;
		background-color:#ffedd2;
		width:170px;
		height:auto;	
	}
		.Box_laterais .Back_box .Text_box
		{
			margin:auto;
			padding:10px 0 10px 0;
			width:140px;
			height:auto;	
		}
		.Box_laterais .Back_box .Text_box p
		{
				font:Verdana, Geneva, sans-serif;
				color:#5c5c5c;
				font-weight:normal;
				font-size:11px;
		}
		
	

	#Content #Boxleft
	{
		margin:auto;
		display:inline-block;;
		float:left;
		width:170px;
		height:760px;
		text-align:center;
		background-repeat:repeat-x;
	}
								
			#Content #Boxleft h1
			{
					font-family:Verdana, Helvetica, sans-serif;
						font-size:12px;
						font-weight:normal;
			}
	
		#Content #Boxleft #Photo
		{
			display:inline-block;
			width:157px;
			height:224px;
			text-align:center;
			float:none;
			margin:0px auto;
			padding:15px 0 0px 0;
		}	
			#Content #Boxleft #Boxfaltamdias
			{
				font:Verdana, Helvetica, sans-serif;
				color:#5c5c5c;
				font-weight:bold;
				text-align:center;
				background-image:url(../images/img_backfaltamdias.png);
				background-repeat:no-repeat;
				background-position:center top;
				display:inline-block;
				float:left;
				padding:20px 10px 10px 10px;
				margin:0 0 15px 0;
				width:137px;
				height:9px;
				text-align:center;
				float:none;
			}
				
		#Content #Boxright
		{
			float:right;
			margin:auto;
			display:inline-block;
			width:170px;
			height:760px;
		}
			#Content #Boxright #Boxviagem
			{
				background-image:url(../images/img_viagempara.png);
				background-repeat:no-repeat;
				background-position:center top;
				padding:10px 0px 0px 0px;
				margin:auto;
				width:170px;
				height:77px;
				text-align:center;	
			}
				#Content #Boxright .Boxpacotes
				{
					background-image:url(../images/img_backpacotes.png);
					background-repeat:no-repeat;
					background-position:center bottom;
					background-color:#ffedd2;
					padding:16px 0 0 0;
					margin:auto;
					width:170px;
					height:19px;	
				}
					#Content #Boxright .Boxmeucarrinho
					{
						background-image:url(../images/img_backmeucarrinho.png);
						background-repeat:no-repeat;
						background-position:center bottom;
						background-color:#ffedd2;
						padding:16px 0 0 0;
						margin:auto;
						width:170px;
						height:19px;	
					}
						#Content #Boxright #Boxcarrinho
						{
							background-image:url(../images/img_viagempara.png);
							background-repeat:no-repeat;
							background-position:center top;
							background-color:#fffce7;
							padding:10px 0px 0px 0px;
							margin:auto;
							width:170px;
							height:77px;
							text-align:center;	
						}
								#Content #Boxright #Boxnaohaitems
								{
									background-image:url(../images/img_naohaitems.png);
									background-repeat:no-repeat;
									background-position:center bottom;
									background-color:#ffedd2;
									margin:auto;
									padding:15px 0 0 0;
									width:170px;
									height:20px;
									text-align:left;	
								}
		#Content #Boxcenter
		{
			display:inline-block;
			text-align:center;
			width:600px;
			height:auto;
			margin:auto;		
		}
							
					#Content #Boxcenter #Topboxc
					{
						width:542px;
						height:135px;
						margin:auto;
						text-align:center;
						vertical-align:middle;
						z-index:-12;
					}
							#Content #Boxcenter #Midboxc
							{
								width:auto;
								height:auto;
								margin:auto;	
							}
							
								#Content #Boxcenter #Midboxc input
								{
									width:300px;
									height:25px;
									margin:auto;
								}
										#Content #Boxcenter #Midboxc p
										{
										font:Verdana, Geneva, sans-serif;
										color:#5c5c5c;
										font-weight:normal;
										font-size:12px !important;
										}
						#Content #Boxcenter #Bottomboxc
						{
							width:542px;
							height:450px;
							margin:auto;
							background-color:#fff;	
						}
								#Content #Boxcenter #Bottomboxc #Ultimasat
								{
									font:Verdana, Helvetica, sans-serif;
									color:#5c5c5c;
									font-weight:bold;
									text-align:left;
									width:540x;
									padding:8px 0 0 30px;
									height:30px;
									background-image:url(../images/img_back_ultimasat.png);
									background-repeat:no-repeat;
									background-position:top center;
									margin:-10px 0 0 0;
								}
									#Content #Boxcenter #Bottomboxc #BoxAtualiza
									{
										font:Verdana, Helvetica, sans-serif;
										color:#5c5c5c;
										font-weight:bold;
										text-align:left;
										width:568px;
										padding:10px 10px 10px 10px;
										height:120px;
										background-image:url(../images/img_back_atualizacao.png);
										background-repeat:repeat-x;
										display:block;
										margin:0;
									}
										#Content #Boxcenter #Bottomboxc #BoxAtualiza h1
										{
											font:Verdana, Helvetica, sans-serif;
											color:#5c5c5c;
											font-weight:bold;
											text-align:justify;
										}
										#Content #Boxcenter #Bottomboxc #BoxAtualiza p
										{
											font:Verdana, Helvetica, sans-serif;
											color:#5c5c5c;
											font-weight:normal;
											text-align:justify;
										}
							
#Footer
{
	background-image:url(../images/img_back_foot.png);
	background-repeat:no-repeat;
	background-position:center top;
	margin:0px auto;
	width:596px;
	height:43px;
}

.hide
{
	display:none;
}
}