@charset "utf-8";
/* CSS Document */

						#Content #Boxcenter #Bottomboxchoteis
						{
							width:600px;
							height:450px;
							margin:auto;
						}
	#Content #Boxcenter #Bottomboxchoteis #Boxlista
	{
		background-image:url(../images/img_back_listahs.png);
		background-repeat:no-repeat;
		background-position:center top;
		font:Verdana, Geneva, sans-serif;
		color:#000;
		/*font-weight:bold;*/
		padding:15px 20px 10px 20px;
		width:532px;
		height:15px;
		margin:auto;
		
	}
.Titlista
{
	display:block;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#960062;
	margin:auto auto 20px auto;
}
