<%content_for :head do%>
	<%=stylesheet_link_tag "carrinho"%>
<%end%>
 <div id="Boxcenter">
		<%=render :file => "/layouts/_top.html.erb"%>
		<div id="Midboxfoto">
        	
       </div>    
      <img src="/images/tit_meucarrinho.png" width="541" height="43"/>   
		<div id="Bottomboxfotos">
			
			
			
			<p style="text-align:center;">
				Muitíssimo obrigado pelo presente!<br />
				<br />
			</p>
			<br /><br />
		
       
         </div>
  		<div id="Tabbottom">
        	<a href="/">Continuar navegando no site</a>
            </div>
        </div>