<h1>Sua Presença Confirmada!</h1>
<br />
<b>Confirmado em: </b><%= Time.now.to_date.strftime("%d/%m/%Y") %><br />
<br />
<h2>Sua presença foi confirmada com os seguintes dados:</h2><br />
<%= @confpresenca %>
<br />
Este e-mail não deve ser respondido!