<h1>Presença Confirmada!</h1>
<br />
<b>Confirmado em: </b><%= Time.now.to_date.strftime("%d/%m/%Y") %><br />
<br />
<h2>Seguem abaixo os dados da confirmação de presença:</h2><br />
<%= @confirmacao %>
<br />
Este e-mail não deve ser respondido!