<div id="PopPacotes" style="display:none;"></div>


	<img src="/images/img_meucarrinho.png" width="153" height="39" style="display:block; text-align:center; margin:auto; padding:30px 0 0 0;" />

	<!-- POPDESCRICAO -->
	
	<div id="ajaxCarrinho">
		<%@cart.each do |c|%>
		<%q = Quote.find(c.quote_id)%>
		<div class="Boxmeucarrinho">
			<h1 class="Titulo6"><%=q.nome%></h1>
			<h1 class="Titulo5"><%=number_to_currency(q.valor.to_s)%></h1>
			<%=link_to image_tag("trans.gif", :class =>"botao_carrinho_pacote"), "javascript:remove_carrinho(#{q.id});"%>
		</div>
		<%end%>
	
	
	<%if @cart.blank?%>
    	<div id="Boxnaohaitems">
			<h1 class="Titulo5" style="margin:0px 0 0 18px;">Não há items</h1>
		</div>
	<%end%>
	</div>
	<div id="Boxnaohaitems">
		<h1 class="Titulo5" style="margin:0px 0 0 18px;"><%=link_to "Finalizar Pedido", carrinho_path%></h1>
	</div>