<div class="Box_laterais">
 	<%= image_tag("tit_saloesdebeleza.png")%>
    <div class="Back_box">
     <div class="Text_box">
      	<p>Click e veja algumas opções de Cabeleleiros para você se preparar para a festa</p>
		<p><%=link_to image_tag("btn_leiamais.png", :align=>"right", :style=>" margin:-3px auto"),hairs_path%></p><br />
     </div>
    </div>
</div>  
